.resource-card {
    /*box-shadow: 0px 3px 3px grey;*/
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px -4px;
    margin: 1rem;
    border-radius: 20px;
}

.icons {
    display: flex;
}

.icon-card {
    margin: 10px;
}